build
contrib/vmlinuz.img
contrib/initrd.img
contrib/initrd/bin/busybox
contrib/initrd/bin/mkfs.ext4
contrib/initrd/bin/pixie
contrib/initrd/bin/kexec
contrib/initrd/bin/stardust
contrib/bzImage
contrib/*.bz2
contrib/*.xz
contrib/busybox*/
contrib/linux*/
contrib/doconfig.img
contrib/doconfig/bin/
contrib/doconfig/lib/
contrib/doconfig/lib64
contrib/doconfig/share/
contrib/doconfig/usr

