hosts:
  interfaces:
  - network: 10.0.0.1/8
    dhcp: !static [10.187.100.1, 10.187.200.200]
    #dhcp: !proxy 192.168.1.100
    broadcast_speed: 52428800
  hostsfile: /etc/hosts
http:
  listen_on: 0.0.0.0:8080
  #password: secret
groups:
  - [room0, 0]
  - [room1, 1]
images:
  - contestant
  - worker
